.main
 .main-group
  .main-group__left-box
   %h2.main-group__left-box__current-group test
   %ul.main-group__left-box__member-list Member: tsuru
  = link_to "#" do
   .main-group__edit-btn Edit
   
 .main-massage-list
  = render @messages

 .main-form
  = form_for [@group, @message] do |f|
   .main-form__box
    = f.text_field :body, class: "main-form__box__text", placeholder: 'type a message'
    = f.label :image, class: "main-form__box__image" do
     %i.fas.fa-image
     = f.file_field :image, class: "main-form__box__file"
   = f.submit 'Send', class: "submit-btn"