.main
 .main-group
  .main-group__left-box
   %h2.main-group__left-box__current-group 
    = @group.name
   %ul.main-group__left-box__member-list
    Member : 
    %li.main-group__left-box__member-list__member
    - @group.users.each do |user|
     = user.name
  = link_to edit_group_path(@group.id) do
   .main-group__edit-btn Edit
   
 .main-massage-list
  = render @messages

 .main-form
  = form_for [@group, @message] do |f|
   .main-form__box
    = f.text_field :body, class: "main-form__box__text", placeholder: 'type a message'
    = f.label :image, class: "main-form__box__image" do
     %i.fas.fa-image
     = f.file_field :image, class: "main-form__box__file"
   = f.submit 'Send', class: "submit-btn"